<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charlie Chaplin Fan Page</title>
    <link rel="stylesheet" href="/styles/stylesheet.css">
</head>
<body>

    <div class="topnav">
        <a class="active" href="/home">Home</a>
        <a  href="/about">About</a>
        <a href="/works">Works</a>
        <a href="/photos">Photos</a>
      </div>
    <h1>About Charlie</h1>

    
<div class="aboutChaplin">
    <p>Sir Charles Spencer Chaplin Jr. KBE (16 April 1889 – 25 December 1977) was an English comic actor, 
        filmmaker, and composer who rose to fame in the era of silent film. 
        He became a worldwide icon through his screen persona, the Tramp, and is considered one of the film industry's most important figures. 
        His career spanned more than 75 years, from childhood in the Victorian era until a year before his death in 1977, and encompassed both 
        adulation and controversy.</p>
<br>
    <p>Sir Charles Spencer Chaplin Jr. KBE (16 April 1889 – 25 December 1977) was an English comic actor, 
        filmmaker, and composer who rose to fame in the era of silent film. 
        He became a worldwide icon through his screen persona, the Tramp, and is considered one of the film industry's most important figures. 
        His career spanned more than 75 years, from childhood in the Victorian era until a year before his death in 1977, and encompassed both 
        adulation and controversy.</p>
<br>
    <p>Sir Charles Spencer Chaplin Jr. KBE (16 April 1889 – 25 December 1977) was an English comic actor, 
        filmmaker, and composer who rose to fame in the era of silent film. 
        He became a worldwide icon through his screen persona, the Tramp, and is considered one of the film industry's most important figures. 
        His career spanned more than 75 years, from childhood in the Victorian era until a year before his death in 1977, and encompassed both 
        adulation and controversy.</p>
</div>
</body>
</html>